---
layout: default
---
<div class="home">
    <div class="posts">
      {% for post in paginator.posts %}
      <article class="post">
        <h2 class="post-title"><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h2>
        <p class="post-meta">{{ post.date | date: "%B %d, %Y" }}</p>
        <div class="post-excerpt">
          {{ post.content | truncatewords:50 | markdownify }}
        </div>
        <a href="{{ post.url | relative_url }}" class="read-more">Read more</a>
      </article>
      {% endfor %}
    </div>
    
    {% if paginator.total_pages > 1 %}
    <ul class="pager">
      {% if paginator.previous_page %}
      <li class="previous">
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer Posts</a>
      </li>
      {% endif %}
      {% if paginator.next_page %}
      <li class="next">
        <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts &rarr;</a>
      </li>
      {% endif %}
    </ul>
    {% endif %}
  </div>

<!--<script src="/assets/js/{{ page.category }}.js"></script>-->